@import '../../styles/variables.scss';
.inputSelect {
  background: none;
  border: none;
  width: 100%;
}
.inputSelect::after {
  content: 'dfd';
  background-image: url(../Assets/Icon/Chevron.svg);
}
.inputSelect:focus {
  border: none;
}
.optionsStyle {
  width: 100%;
  padding: 4px 0px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  p {
    padding: 8px 12px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  p:hover {
    background: #dddddd;
  }
}

.genderLabel {
  color: $work-presets-text-white-mode-primary-g-800;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.containerWithIcon {
  display: flex;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.48);
  font-family: TT Travels;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 12px;
}
.arrowRotate {
  transform: rotate(180deg);
}
